<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>

</head>

<body>
    <h1>Digite dois números:</h1>
    <form id="formulario" action="/front" method="post">
        <label> Número 1: </label>
        <input id="n1" name="n1" />
        <label> Número 2: </label>
        <input id="n2" name="n2" />
        <button id="soma" type="button">Somar</button>
        <button id="sub" type="button">Subtrair</button>
        <button id="mult" type="button">Multiplicar</button>
        <button id="div" type="button">Dividir</button>
        <button id="calc" type="submit">Calcular</button>
    </form>
    <h1>Resultado:</h1>
    <h1 id="res">
        <%=resultadoTotal%>
    </h1>

    <script>
        divTrueFalse = true

        calc.addEventListener('click', () => {
            if (n1.value == '' || n2.value == '' || divTrueFalse == true && n2.value == 0) {
                alert('Da não, chefe')
                calc.type = 'button'
                res.innerHTML = ''
            } else {
                calc.type = 'submit'
            }
        })
        soma.addEventListener('click', () => {
            divTrueFalse = false
            formulario.action = 'resultSoma'
        })
        sub.addEventListener('click', () => {
            divTrueFalse = false
            formulario.action = 'resultSub'
        })
        mult.addEventListener('click', () => {
            divTrueFalse = false
            formulario.action = 'resultMult'
        })
        div.addEventListener('click', () => {
            divTrueFalse = true
            formulario.action = 'resultDiv'
        })
    </script>
</body>

</html>